body {
    background-color: #000c47;
    color: #f2f2f2;    
    font-family: 'Poppins', sans-serif;
    margin: 0% 0% 0% 0%;
}

header {
    display: flex;
    background-color: #090b0c;
    height: 40px;
}

#home {    
    border: none;
    background: none;
    cursor: pointer;
}

.cover-subpage {
    background-image: url(../../assets/covers/Cover-subpage.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0% -5% 0% -5%;
    font-size: 150%;
}

.mododev {
    margin: 15px 5px 15px 5px;
    width: 300px;
    height: 300px;
    align-items: center;
    color: #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.projects {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    
    justify-items: center;
    margin: 0% 14% 2% 14%;
}

#petshop-api {
    background-image: url(../../assets/modo-dev/PetshopAPI.avif);
    background-size: cover;
    background-color: #4d4d4d;
    background-blend-mode:screen;
}

#calculici {
    background-image: url(../../assets/modo-dev/Calculici.webp);
    background-size: cover;
        background-color: #cccccc;
    background-blend-mode:screen;
}

#detona-ralph {
    background-image: url(../../assets/modo-dev/Detona-Ralph.jpeg);
    background-size: cover;
    background-color: #cccccc;
    background-blend-mode:screen;
}

#yu-gi-oh {
    background-image: url(../../assets/modo-dev/Yu-Gi-Oh.jpeg);
    background-size: cover;
    background-color: #cccccc;
    background-blend-mode:screen;
}

#music-keyboard-virtual {
    background-image: url(../../assets/modo-dev//Music-Keyboard-Virtual.png);
    background-size: cover;
    background-color: #cccccc;
    background-blend-mode:screen;
}

#pokedex {
    background-image: url(../../assets/modo-dev/Pokedex.jpeg);
    background-size: cover;
    background-color: #cccccc;
    background-blend-mode:screen;
}


.lacruz-design {
    display: flex;
    margin: 5px;
    width: 300px;
    height: 300px;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(160deg, #000c47 0%, #00a19e 100%); 
    border: none;
    cursor: pointer;
    font-size: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0% 14% 2% 14%;

}

.gallery__img {
    margin-top: 15px;
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

footer {
    display: flex;
    background-color: #090b0c;
    height: 100px;
}