body {
    color: #E2E8F0;
    justify-content: center;
}

header {
    background-color: #282A35;
    height: 40px;
}

.cover {
    display: flex;
    background-color: #202124;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 600px;
}

.container {
    position: relative;
    background-color: hsla(233, 100%, 9%, 0.07);
    padding: 1%;
    margin: 18px 200px 18px 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.presentation {
    display: flex;
    padding: 4px 0px 0px 4px;
    justify-content: center;
    width: 60%;
    border-radius: 5px;
}

h2 {
    margin: 0px -100px 0px 0px;
}

/*#liciene {
    margin: 9px 0px -7px 37px;
    width: 80%;
    border-radius: 5px;
}*/

#description {
    width: 100%;
    height: 100%;
}

.profiles {
    justify-content: center;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

#mododev {
    display: flex;
    margin: -3px 100px 0px 0px;
}

#lacruz {
    display: flex;
    margin: -186px 0px 0px 186px;
}

#papiele {
    display: flex;
    margin: -108px 0px 0px 0px;
    }

#desinfluencialici {
    display: flex;
    margin: -186px 0px 0px 132px;
}

footer {
    flex: 30;
    background-color: #181A1B;
    width: 100%;
    height: 400px;
}